.card{
    border-radius: 10px;
    background-color: lightgrey;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

.saved-list{
    border-radius: 15px;
    background-color: lightyellow
}

.deleteBook {
    border-radius: 5px;
    margin-left: 10px
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px
}